*{
   margin: 0;
   padding: 0;
   font-family: 'Balthazar', serif;
}

body{
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.3)), url(../Images/josh-olalde-unsplash.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed; /* keeps background image steady during scroll*/
   height: 100vh;
   color: #fff;

}


.header{
   color: #fff;
   text-align: center;
}

.header h1{
   font-size: 70px;
   margin-top: 20px;
}

.footer{
   color: #fff;
}

.buttons{
   position: center;
   
}

#list-btn{
   padding: 10px;
   border-radius: 15px;
   background-color: #FCF8EC;
   font-size: 1rem;
   color: black;  
   letter-spacing: .35rem;
   margin: auto;
}


.search-wrapper {
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
}

input{
   font-size: 1.3rem;
   margin: auto;
   text-align: center;
}

.content{
   text-align: center;
   font-size: 1.2rem;
   columns: 2
}

.table{
   border-spacing: 2rem;
}

td{
   width: 250px;
   height: 30px;
   text-align: center;
}