*{
   margin: 0;
   padding: 0;
   font-family: 'Balthazar', serif;
}

body{
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.3)), url(../Images/josh-olalde-unsplash.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed; /* keeps background image steady during scroll*/
   height: 100vh;
   color: #fff;

}

li{
   margin-top: 10px;
}

h5{
   color: #FFD59E;
}

.footer{
   color: #fff;
}

.buttons{
   position: center;
   
}

#list-btn{
   padding: 10px;
   border-radius: 15px;
   background-color: #FCF8EC;
   font-size: 1rem;
   color: black;  
   letter-spacing: .35rem;
   margin: auto;
}

#submit-btn{
   padding: 5px;
   border-radius: 15px;
   background-color: #FCF8EC;
   font-size: 16px;
   color: black;  
   letter-spacing: .35rem;
   margin: auto;
}


.top-container{
   color: #fff;
   text-align: center;
}

.top-container h1{
   font-size: 70px;
   margin-top: 20px;
}

.middle-container {
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
}

.content{
   min-height: 400px;
   margin: auto;
   padding-top: 15px;
   padding-bottom: 10px;
   text-align: center;
   font-size: 1.2rem;
   columns: 2;
}

.bottom-container {
   text-align: center;
   gap: 0.25rem;
   height: 50px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   margin-bottom: 25px;
}

input{
   font-size: 1.3rem;
   margin: auto;
   text-align: center;
}

select{
   width: 150px;
   height: 23px;
   border-radius: 3px;
}


