*{
   margin: 0;
   padding: 0;
   font-family: 'Balthazar', serif;
}

body{
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(../Images/josh-olalde-unsplash.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;

}

.content{
   color: #fff;
   text-align: center;
}

.content h1{
   font-size: 70px;
   margin-top: 80px;
}